<!doctype html>
<html
    lang="en"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
>
    <head>
        <title>Club Create</title>
    </head>
    <body>
        <main id="create-form-page" class="flex-shrink-0" layout:fragment="body">
            <h3 class="display-5 fw-bold text-center mt-5">Create Club</h3>
            <div class="container">
                <form method="post" th:action="@{/clubs/new}" th:object="${club}" class="row g-3" id="club-form">
                    <div class="col-12">
                        <label for="clubName" class="form-label">Club Name</label>
                        <input type="text" class="form-control" id="clubName" name="title" th:field="*{title}" />
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                    </div>

                    <div class="col-12">
                        <label for="clubContent" class="form-label">Club Description</label>
                        <input type="text" class="form-control" id="clubContent" name="content" th:field="*{content}" />
                        <p
                            class="alert alert-danger"
                            th:if="${#fields.hasErrors('content')}"
                            th:errors="*{content}"
                        ></p>
                    </div>

                    <div class="col-12">
                        <label for="clubPhotoUrl" class="form-label">Photo Url</label>
                        <input
                            type="text"
                            class="form-control"
                            id="clubPhotoUrl"
                            name="photoUrl"
                            th:field="*{photoUrl}"
                        />
                        <p
                            class="alert alert-danger"
                            th:if="${#fields.hasErrors('photoUrl')}"
                            th:errors="*{photoUrl}"
                        ></p>
                    </div>

                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn btn-secondary mt-3">Create Club</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
