<!doctype html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <title>Password Reset</title>
</head>
<body>
<main id="create-form-page" class="flex-shrink-0" layout:fragment="body">
    <h2 class="display-3 fw-bold text-center">Reset Password</h2>
    <div class="container">
        <form method="post" th:action="@{/admin/users/password/{username}(username=${user.username})}"
              th:object="${user}"
              class="row g-3">
            <div class="col-md-8">
                <label for="password" class="form-label">New password for user: <span th:text="${user.username}"/>
                </label>
                <input type="password" class="form-control" id="password" name="password" th:field="*{password}"
                />
                <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>
            <input type="hidden" name="id" th:field="*{id}"/>
            <input type="hidden" name="username" th:field="*{username}"/>
            <input type="hidden" name="email" th:field="*{email}"/>

            <div class="col-md-8">
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
